

.banner-secton {
  width: 100%;
  position: relative;
  min-height: 100vh;
  height: 100%; 
  background-color: #1E293B;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.banner-secton h1 {
  color: #ffffff;
  font-weight: 900 !important;
}

.banner-secton p {
  color:#94a3b8;
}

.banner-secton svg:first-child {
  position: absolute;
}

.banner-secton svg:nth-child(2) {
  position: absolute;
  top:0;
  right: -10px;
  color: rgb(51 65 85)
}

.banner-section__content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
}

.alert-box svg {  
  display: none !important;
}

.form-section {
  padding: 4rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  margin-left: auto;
  min-height: 100vh;
  height: 100%;
}

.form-section img {
  width: 5rem;
}

.setting-btn {
  position: fixed;
  background-color: #C92627;
  top:275px;
  right:0;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #ffffff;
}

.text-line {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-line > div {
 position: absolute;
 border:1px solid grey;
 width: 100%;
 top:10px;
 z-index: 0;
}

.text-line span {
  background-color: #ffffff;
  z-index: 200;
  padding: 0 10px;
}

.setting-btn svg {
  animation:  App-logo-spin infinite 1.5s linear reverse;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
